body{
    background-color: rgb(0, 0, 0);
}
.c1{

  color:white;
  font-family:serif;
  text-align: center;
  font-size: 50px;

}
.input{
    position: relative;
    left: 620px;
    nav-down: auto;
    background-color: #111;
    width: 290px;
    height: 20px;
    border: whitesmoke;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 2px 2px 5px rgb(63, 63, 164) ;
}
.navi{

     background-color: rgb(63, 63, 164);
     color: rgb(208, 200, 200);
     width: 295px;
     height: 40px;
     border-radius: 20px;
    position: relative;
    left: 625px;
}
.navi:hover{
    background-color: rgb(79, 79, 239);
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.c9{
    color: gray;
    position: relative;
    left: 620px;
    top: -50px
}
.c8{
   
    color: rgb(69, 155, 231);
    position: relative;
    left: 710px;
    top: 50px;
    text-decoration: none



}
.b9{
    color: white;
    text-decoration: none;
    position: relative;
    left: 720px;


}
.b9:hover{
    text-decoration: underline;
}
.image1{
    width: 25px;
    height: 25px;
    position: relative;
    left: 630px;
    top: -112px;
}
.dont{
    color: gray;
    position: relative;
    left: 660px;
    top: 45px;
}
.sign{
    color: rgb(49, 108, 196);
    position: relative;
    left: 815px;
    top: -07px;
}
